* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f5f8fa;
}

body,
a,
button,
input,
input::placeholder,
select {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #1d2c3c;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
  transition: all ease-in-out 0.3s;
}
a:hover {
  color: black;
}

nav {
  padding: 0px 20px;
}

.nav_content {
  border-bottom: 2px solid rgba(224, 230, 234, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px 42px;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.account {
  border-radius: 6px;
  border: 2px solid #646e7a;
  height: 40px;
  width: 91px;
}
.account:hover {
  cursor: pointer;
  background-color: white;
}

.form_wrapper {
  display: flex;
  place-items: center;
  justify-content: center;
  max-width: 892px;
  width: 100%;
  margin: 45px auto;
  border-radius: 6px;
}
.inner_wrap {
  display: flex;
  border-radius: 6px;

  background: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05),
    0px 15px 35px 0px rgba(43, 64, 78, 0.1);
}

.form_content {
  width: 580px;
  padding: 48px;
}
.li_t {
  height: 2px;
  background: #f5f7fa;
  width: 100%;
  overflow: auto;
}

.form_content h1 {
  color: #1d2c3c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.items {
  padding: 36px;
  margin-bottom: 41px;
}

.item1 {
  display: flex;
  align-items: center;
  gap: 0px 10px;
}

.item1 h1 {
  width: 220px;
  height: 32px;
  flex-shrink: 0;
  color: #1d2c3c;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
  display: flex;
  align-items: center;
}
.item_icon {
  display: flex;
  align-items: center;
}

.item_icon h1 {
  border-radius: 50%;
  border: 2px solid rgba(84, 139, 197, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  width: 30px;
  height: 30px;
}

.fields {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

label {
  color: #1d2c3c;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  margin-top: 7px;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;

  border: none;
  background: #edeff2;
}

input:active,
input:hover,
input:focus {
  outline: 2px solid rgba(17, 121, 191, 1);
}
::placeholder {
  color: #646e7a;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f_name_wrap input,
.l_name_wrap input {
  width: 226px;
  height: 36px;
}
.email_wrap {
  grid-column: 1/3;
  display: grid;
  width: 370px;
  height: 36px;
}
.email_wrap input {
  width: 100%;
  height: 36px;
}

.input_wrap {
  background: #edeff2;
  height: 36px;
  width: 100%;
  margin-top: 8px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding-bottom: 6px;
}

.input_wrap input {
  height: 100%;
}

.payment_wrap {
  margin-top: 8px;
}
.payment_wrap input {
  background-color: transparent;
  height: 36px;
}
#payment_input {
  width: 50%;
}
.other input {
  width: 100px;
}

button {
  border-radius: 5px;
  background: #038e7d;
  width: 100%;
  height: 52px;
  margin: 0 auto;
  outline: none;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.396px;
  transition: all 0.3s ease-in-out;
}
button:hover,
button:focus,
button:active {
  cursor: pointer;
  opacity: 0.7;
}
.kk {
  margin-bottom: 0px;
}

.kk2 p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  color: #1d2c3c;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  gap: 0px 10px;
  line-height: normal;
  letter-spacing: -0.01px;
}

.hesitate {
  color: #646e7a;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01px;
}

.stripe {
  width: 92px;
  height: 20.101px;
  margin: 0 auto;
  margin-top: 34px;
  text-align: center;
}

.side_txt {
  border-radius: 0px 6px 6px 0px;
  background: #1179bf;
  width: 312px;
  color: white;
  padding: 37px;
  display: grid;
  gap: 25px 0px;
}
h2 {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
}
sup,
sub {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.015px;
}

.amount {
  color: #fff;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.015px;
}
.auto {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.008px;
}

.info {
  display: grid;
  gap: 0.5rem;
}

.info p {
  display: flex;
  align-items: center;
  gap: 0rem 1rem;
}

.line {
  width: 224px;
  height: 2px;
  opacity: 0.2;
  background-color: #fff;
}
.twenty {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.008px;
}

.agency {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.008px;
  border-bottom: 4px solid #b9f4ff79;
}

.testimonial {
  display: grid;
  row-gap: 1rem;
}
.testimonial p {
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.009px;
  font-size: 18px;
}
.testimonial p span {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.009px;
}
.person {
  display: flex;
  align-items: center;
  gap: 0rem 1rem;
}
.person_img,
.person_img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.person h6 {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.008px;
}

footer {
  max-width: 892px;
  width: 100%;
}

footer p {
  color: #636b6f;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer p span {
  color: #31708f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
